@model PagedList.IPagedList<recenzent.Models.PublicationAdminListViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "PublicationList";
}


<table align="center" border="1" cellpadding="10">
    <tr><td>Tytuł</td><td>Autor</td><td>Kategoria</td><td>Data udostępnienia</td><td>Opis</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "PublicationDetails", "AdminPanel", new { id = item.Id }, null)
            </td>
            <td> @Html.DisplayFor(modelItem => item.AuthorName)</td>
            <td>  @Html.DisplayFor(modelItem => item.Category)</td>
            <td>  @Html.DisplayFor(modelItem => item.ShareDate)</td>

            <td>  @Html.DisplayFor(modelItem => item.Description)</td>
            <td >  @Html.ActionLink("Details", "PublicationDetails", "AdminPanel", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })</td>
            
            <td> @Html.ActionLink(item.isShared ? recenzent.Resources.AdminPanel.publish : recenzent.Resources.AdminPanel.TakeDown, "ChangePublishState", "AdminPanel", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })</td>
        </tr>
    }
</table>

<br />
@recenzent.Resources.HomePage.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))