@model recenzent.Models.PublicationViewModel
@{
    ViewBag.Title = "Dodaj publikacje";
}
@{int i = 0; }
<script>
    function AddSource() {
        var length = $("#SourcesList il").length;
        var array = Array();
        $("#SourcesList").append(@Html.TextBoxFor(m=>m.Sources[i], new { @class = "form-control" }))

        @*for (var i = 0; i < 5; i++) {
            array[i] = i;
        }
        var postData = { values: array };

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddPub", "AuthorPanel")",
            data: postData,
            success: function () {
                alert("udalo sie...?")
            },
            dataType: "json",
            traditional: true
        });*@
    }
</script>

<div class="container">
    <div>
        <h2>Dodaj Publikacje</h2>
        @Html.ActionLink("Powrót", "Index")
    </div>
    @using (Html.BeginForm("AddPub", "AuthorPanel", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" })) {

        <div class="form-group col-md-8">
            <label class="control-label">Tytuł</label>
            <div>
                @*<input type="text" class="form-control" id="title" name="title">*@
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-8">
            <label class="control-label" for="file">Plik</label>
            <div>
                @*<input type="file" class="form-control" id="PublicationFile" name="file"/>*@
                @Html.TextBoxFor(m => m.File, new { @class = "form-control inputlg", type = "file", accept = ".pdf" })
            </div>
        </div>

        <div class="form-group col-md-8">
            <label class="control-label">Categoria</label>
            <div>
                @Html.DropDownListFor(m => m.Category, new SelectList(ViewBag.Categories), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-8">
            <label class="control-label">Tagi</label>
            <div>
                @*<input type="text" class="form-control" id="tags" name="tags" placeholder="Tagi należy podawać po przecinku, np.Fizyka, Matematyka...">*@
                @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", placeholder = "Tagi należy podawać po przecinku, np.Fizyka, Matematyka..." })
            </div>
        </div>

        <div class="form-group col-md-8">
            <label class="control-label">Źródła</label>
            <div>
                <input type="text" class="form-control" id="sources" name="sources">
                <ul class="list-group" id="SourcesList">
                    @Html.TextBoxFor(m=>m.Sources[0], new { @class = "form-control"})
                    @Html.TextBoxFor(m => m.Sources[1], new { @class = "form-control" })

                    @Html.TextBoxFor(m => m.Sources[2], new { @class = "form-control" })


                </ul>
                <button type="button" class="btn" id="btn1" onclick="AddSource()">Dodaj</button>
            </div>
        </div>

        <div class="form-group col-md-8">
            <label class="control-label" for="comment">Opis</label>
            <div>
                @*<textarea class="form-control" rows="5" id="Description"></textarea>*@
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5", required = "true" })
            </div>
        </div>

        <div class="form-group col-md-8">
            <button type="submit" class="btn btn-default">Akceptuj</button>
        </div>


        @ViewBag.Message
    }
</div>