@model recenzent.Models.PublicationPanelViewModel
@using recenzent.Controllers


<script>
    function AddReply(id) {

        var divId = '#CommentReply'+id;
        $('#addReplyButton'+id).remove();
        var cButtonCode = '<button type="button" class = "btn btn-default" id ="cButton" onclick="CancelReply('+id+')">Anuluj</button>';
        var aButtonCode = '<button type="submit" class="btn btn-default" id="aButton" >Dodaj Odpowiedź</button>';
        var hiddenInputCode = '<input data-val="true" data-val-number="The field StudentId must be a number." data-val-required="The StudentId field is required."id="parentId"  name="parentId" type="hidden" value="'+id+'" />';
        $(divId).append('<textarea class = "form-control", rows = "5", required = "true" id = reply name = reply ></textarea>' + cButtonCode + aButtonCode + hiddenInputCode);
    }

    function CancelReply(id) {
        $('#reply').remove();
        $('#cButton').remove();
        $('#aButton').remove();
        var addReplyButtonDivId = '#addReplyButtonDiv'+id;
        var addReplyButtonId = 'addReplyButton'+id;

        $(addReplyButtonDivId).append('<button type="button" class="btn" id="'+addReplyButtonId+'" onclick="AddReply('+id+')">Dodaj Odpowiedź</button>');

    }



</script>





<div class="container">
    @using (Html.BeginForm("AddComment", "PublicationPanel", FormMethod.Post, new { enctype = "multipart/form-data", Model.PublicationId })) {
        <div class="form-group col-md-10">
            <label class="control-label" for="comment">Skomentuj publikację:</label>
            <div>
                @Html.TextAreaFor(m => m.NewCommentText, new { @class = "form-control", rows = "5", required = "true" })
                @Html.HiddenFor(m => m.PublicationId)
            </div>
        </div>

        <div class="form-group col-md-10">
            <button type="submit" class="btn btn-default">Akceptuj</button>
        </div>
    }
</div>

@foreach (var item in Model.Comments) {

    <div class="well-sm">
        <div class="panel panel-default">
            <div class="panel-heading">@item.UserName napisał:</div>
            <div class="panel-body">@item.Body</div>
        </div>
        @{ string addreplybuttonDivId = "addReplyButtonDiv" + item.Id.ToString();
           string addreplybuttonId = "addReplyButton" + item.Id.ToString();
         }
        <div id=@addreplybuttonDivId>
        <button type="button" class="btn" id="@addreplybuttonId" onclick="AddReply(@item.Id)">Dodaj Odpowiedź</button>

        </div>

        @{string replyId = "CommentReply" + item.Id.ToString();
        }
        @using (Html.BeginForm("AddReply", "PublicationPanel", FormMethod.Post, new { enctype = "multipart/form-data", id=Model.PublicationId }))
        {
        <div class="list-group" id=@replyId>
        </div>
        }

    </div>
    <div class="well-sm" style="margin-left: 40px;">
        @foreach (var it in item.ChildReplies)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@it.UserName napisał:</div>
                <div class="panel-body">@it.Body</div>
            </div>
        }
    </div>
            }
