<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    
    <div class="col-md-10 col-md-offset-1" style="background-color:#FFFCE9" >
       <img src="~/Images/Banner.png" class="banner img-responsive">
        <div class="col-md-9">
            <div class="navbar navbar-inverse">
                <img src="~/Images/Panel.png" class="nav-panel img-responsive">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Recenzent.pl", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="main-menu nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>                    
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - ASP.NET Application - Politechnika Rzeszowska</p>
                </footer>
            </div>
        </div>
        <div class="col-md-3">
            <div class="upper-row" style="background-color:#00A69C">

                @RenderSection("RightUpperSection", required: false)
                
                   <!-- <img src="~/Images/user.png" class="rh-section" /> -->
                   

            </div>

            <div class="lower-row" style="background-color:#B3DCBF">
               
                    @RenderSection("RightLowerSection", required: false)
                    <p> RightLowerSection </p>
            </div>
            
        </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
