<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <div class="col-md-10 col-md-offset-1" style="background-color:#FFFCE9">
        <img src="~/Images/Banner.png" class="banner img-responsive">
        <div class="col-md-9">
            <div class="navbar navbar-inverse">
                <img src="~/Images/Panel.png" class="nav-panel img-responsive">
                
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*@Html.ActionLink("Recenzent.pl", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="main-menu nav navbar-nav">
                            <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                            <li>@Html.ActionLink("Panel Autora", "Index", "AuthorPanel")</li>
                            <li>@Html.ActionLink("Panel Recenzenta", "Index", "Reviewer")</li>
                            <li>@Html.ActionLink("Panel Administratora", "Index", "AdminPanel")</li>

                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - ASP.NET Application - Politechnika Rzeszowska</p>
                </footer>
            </div>
        </div>
        <div class="col-md-3">
            <div class="upper-row" style="background-color:#00A69C">

                @RenderSection("RightUpperSection", required: false)
                <div class="nav">
                    @Html.Partial("_LoginPartial")
                </div>

                <!-- <img src="~/Images/user.png" class="rh-section" /> -->


            </div>

            <div class="lower-row" style="background-color:#B3DCBF">

                @RenderSection("RightLowerSection", required: false)
                <p> RightLowerSection </p>

                @Html.Action("LatestPublicationsPartial", "Home")

                <div class="col-sm-15" style="background-color:white;" id="test1">
                    <script>
                        function showTextDate() {
                            function leadingZero(i) {
                                return (i < 10) ? '0' + i : i;
                            }

                            var currentDate = new Date();
                            var element = document.querySelector('#test1');
                            var dzien = currentDate.getDate();
                            var miesiac = currentDate.getMonth() + 1;
                            var czas = [" czas letni", " czas zimowy"];
                            var nazwaDnia = ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"];
                            var i = 0;

                            if (miesiac > 3 && miesiac < 10)
                                i = 0;
                            else
                                i = 1;
                            if (miesiac == 3) {
                                if (dzien > 25)
                                    i = 0;
                                else
                                    i = 1;
                            }
                            if (miesiac == 10) {
                                if (dzien < 30)
                                    i = 0;
                                else
                                    i = 1;
                            }
                            stycznia = ["Masława, Mieczysława, Mieszka", "Bazylego, Makarego, Narcyzy", "Arlety, Danuty, Lucjana", "Anieli, Elżbiety, Tytusa", "Edwarda, Hanny, Szymona", "Kacpra, Melchiora, Baltazara", "Juliana, Lucjana, Walentyny", "Artura, Rajmunda, Seweryny", "Adriana, Alicji, Teresy", "Ady, Jana, Wilhelma", "Feliksa, Honoraty, Marty", "Bernarda, Czesławy, Grety", "Bogumiła, Bogumiły, Weroniki", "Feliksa, Hilarego, Martyny", "Arnolda, Dory, Pawła", "Mascelego, Walerii, Włodzimierza", "Antoniego, Henryki, Mariana", "Beatrycze, Małgorzaty, Piotra", "Erwiny, Henryka, Mariusza", "Fabioli, Miły, Sebastiana", "Agnieszki, Jarosława, Nory", "Dominiki, Mateusza, Wincentego", "Fernandy, Jana, Rajmundy", "Felicji, Roberta, Sławy", "Miłosza, Pawła, Tatiany", "Lutosława, Normy, Pauliny", "Anieli, Juliana, Przemysława", "Agnieszki, Kariny, Lesława", "Franciszka, Konstancji, Salomei", "Martyny, Macieja, Teofila", "Joanny, Ksawerego, Luizy"]

                            luty = ["Brygidy, Dobrogniewa, Ignacego", "Kornela, Marii, Mirosławy", "Błażeja, Joanny, Telimeny", "Andrzeja, Mariusza, Weroniki", "Agaty, Filipa, Justyniana", "Amandy, Bogdana, Doroty", "Ryszarda, Teodora, Wilhelminy", "Irminy, Piotra, Sylwii", "Bernarda, Eryki, Rajmunda", "Elwiry, Elizy, Jacka", "Bernadetty, Marii, Olgierda", "Czasława, Damiana, Normy", "Grzegorza, Lesława, Katarzyny", "Liliany, Walentyny, Walentego", "Arnolda, Jowity, Georginy", "Danuty, Daniela, Juliany", "Donata, Gizeli, Łukasza", "Konstancji, Krystiana, Sylwany", "Bettiny, Konrada, Mirosława", "Anety, Lehca, Leona", "Eleonory, Lenki, Kiejstuta", "Małgorzaty, Marty, Nikifora", "Damiana, Romana, Romany", "Boguty, Bogusza, Macieja", "Almy, Cezarego, Jarosława", "Bogumiła, Eweliny, Mirosława", "Gagrieli, Liwii, Leonarda", "Ludomira, Makarego, Wiliany", "Lecha, Lutomira"]

                            marca = ["Albina, Antoniny, Radosławy", "Halszki, Heleny, Karola", "Kingi, Maryna, Tycjana", "Adrianny, Kazimierza, Wacława", "Aurory, Fryderyka, Oliwii", "Jordana, Marcina, Róży", "Flicyty, Kajetana, Pauli", "Beaty, Juliana, Wincentego", "Dominika, Franciszki, Katarzyny", "Bożysławy, Cypriana, Marcelego", "Konstantego, Ludosława, Rozyny", "Grzegorza, Justyny, Józefiny", "Bożeny, Krystyny, Marka", "Dalii, Leona, Matyldy", "Delfiny, Longina, Ludwiki", "Izabeli, Henryka, Oktawii", "Reginy, Patryka, Zdyszka", "Edwarda, Narcyza, Zbysława", "Aleksandryny, Józefa, Nicety", "Joachima, Kiry, Maurycego", "Benedykta, Lubomiry, Lubomira", "Bogusława, Jagody, Katarzyny", "Feliksa, Konrada, Zbysławy", "Gabrieli, Marka, Seweryna", "Bolka, Cezaryny, Marioli", "Dory, Olgi, Teodora", "Ernesta, Jana, Marka", "Anieli, Kasrota, Soni", "Marka, Wiktoryny, Zenona", "Amelii, Dobromira, Leonarda", "Balbiny, Kamila, Kornelii"]

                            kwietnia = ["Chryzamtyny, Grażyny, Zygmunta", "Franciszka, Malwiny, Władysława", "Pankracego, Renaty, Ryszarda", "Benedykta, Izodory, Wacławy", "Ireny, Kleofasa, Wincentego", "Ady, Celestyny, Ireneusza", "Donata, Herminy, Rufina", "Amadeusza, Cezaryny, Juliany", "Mai, Marcelego, Wadima", "Borysławy, makarego, Michała", "Filipa, Izoldy, Leona", "Juliusza, Lubosława, Wiktoryny", "Artemona, Justyny, Przemysławy", "Bernarda, Martyny, Waleriana", "Adolfiny, Odetty, Wacława", "Bernarda, Biruty, Erwina", "Anicety, Klary, Rudolfina", "Apoloniusza, Bogusławy, Gościsławy", "Alfa, Leonii, Tytusa", "Agnieszki, Amalii, Czecha", "Jarosława, Konrada, Selmy", "Łukasza, Kai, Nastazji", "Ilony, Jerzego, Wojciecha", "Bony, Horacji, Jerzego", "Jarosława, Marka, Wiki", "Marii, Marzeny, Ryszarda", "Sergiusza, Teofila, Zyty", "Bogny, Walerii, Witalisa", "Hugona, Piotra, Roberty", "Balladyny, Lilli, Mariana"]

                            maja = ["Józefa, Lubomira, Ramony", "Longiny, Toli, Zygmunta", "Jaropełka, Marii, Niny", "Floriana, Michała, Moniki", "Irydy, Tamary, Waldemara", "Beniny, Filipa, Judyty", "Augusta, Gizeli, Ludomiry", "Kornela, Lizy, Stanisława", "Grzegorza, Karoliny, Karola", "Antoniny, Izydory, Jana", "Igi, Mamerta, Miry", "Dominika, Imeldy, Pankracego", "Agnieszki, Magdaleny, Serwacego", "Bonifacego, Julity, Macieja", "Dionizego, Nadziei, Zofii", "Andrzeja, Jędrzeja, Małgorzaty", "Brunony, Sławomira, Wery", "Alicji, Edwina, Eryka", "Celestyny, Iwony, Piotra", "Bazylego, Bernardyna, Krystyny", "Jana, Moniki, Wiktora", "Emila, Neleny, Romy", "Leoncjusza, Michała, Renaty", "Joanny, Zdenka, Zuzanny", "Borysa, Magdy, Marii-Magdaleny", "Eweliny, Jana, Pawła", "Amandy, Jana, Juliana", "Augustyna, Ingi, Jaromira", "Benity, Maksymiliana, Teodozji", "Ferdynanda, Gryzeldy, Zyndrama", "Anieli, Feliksa, Kamili"]

                            czerwca = ["Gracji, Jakuba, Konrada", "Erazma, Marianny, Marzeny", "Anatola, Leszka, Tamary", "Christy, Helgi, Karola", "Bonifacego, Kiry, Waltera", "Laury, Laurentego, Nory", "Ariadny, Jarosława, Roberta", "Ady, Celii, Medarda", "Anny-Marii, Felicjana, Sławoja", "Bogumiła, Diany, Małgorzaty", "Barnaby, Benedykta, Flory", "Gwidona, Leonii, Niny", "Antoniego, Gracji, Lucjana", "Bazylego, Elizy, Justyny", "Jolanty, Lotara, Wita", "Aliny, Anety, Benona", "Laury, Leszka, Marcjana", "Elżbiety, Marka, Pauli", "Gerwazego, Protazego, Sylwii", "Bogny, Rafaeli, Rafała", "Alicji, Alojzego, Rudolfa", "Pauliny, Sabiny, Tomasza", "Albina, Wandy, Zenona", "Danuty, Jana, Janiny", "Łucji, Witolda, Wilhelma", "Jana, Pauliny, Rudolfiny", "Cypriana, Emanueli, Władysława", "Florentyny, Ligii, Leona", "Pawła, Piotra, Salomei", "Arnolda, Emiliany, Lucyny"]

                            lipca = ["Bogusza, Haliny, Mariana", "Kariny, Serafiny, Urbana", "Anatola, Jacka, Mirosławy", "Aureli, Malwiny, Zygfryda", "Antoniego, Bartłomieja, Karoliny", "Dominiki, Jaropełka, Łucji", "Estery, Kiry, Rudolfa", "Arnolda, Edgara, Elżbiety", "Hieronima, Palomy, Weroniki", "Filipa, Sylwany, Witalisa", "Benedykta, Kariny, Olgi", "Brunona, Jana, Wery", "Danieli, Irwina, Małgorzaty", "Kamili, Kamila, Marcelego", "Henryka, Igi, Włodzimierza", "Eustachego, Mariki, Mirelli", "Aleksego, Bogdana, Martyny", "Kamila, Karoliny, Roberta", "Alfreny, Rufina, Wincentego", "Fryderyka, Małgorzaty, Seweryny", "Danieli, Wawrzyńca, Wiktora", "Magdaleny, Mileny, Wawrzyńca", "Sławy, Sławosza, Żelisławy", "Kingi, Krystyna, Michaliny", "jakuba, Krzysztofa, Walentyny", "Anny, Mirosławy, Joachima", "Aureliusza, Natalii, Rudolfa", "Ady, Wiwiany, Sylwiusza", "Marty, Konstantego, Olafa", "Julity, Ludmiły, Zdobysława", "Ignacego, Lodomiry, Romana"]

                            sierpnia = ["Jarosława, Justyny, Nadziei", "Gustawa, Kariny, Stefana", "Augustyna, Kamelii, Lidii", "Dominiki, Dominika, Protazego", "Emila, Karoliny, Kary", "Jakuba, Sławy, Wincentego", "Donaty, Olechny, Kajetana", "Izy, Rajmunda, Seweryna", "Klary, Romana, Rozyny", "Bianki, Borysa, Wawrzyńca", "Luizy, Włodzmierza, Zuzanny", "Hilarii, Juliana, Lecha", "Elwiry, Hipolita, Radosławy", "Alfreda, Maksymiliana, Selmy", "Marii, napoleona, Stelii", "Joachima, Nory, Stefana", "Anity, Elizy, Mirona", "Bogusława, Bronisława, Ilony", "Emilii, Julinana, Konstancji", "Bernarda, Sabiny, Samuela", "Franciszka, Kazimiery, Ruty", "Cezarego, Marii, Zygfryda", "Apolinarego, Miły, Róży", "Bartosza, Jerzego, Maliny", "Belii, Ludwika, Luizy", "Ireneusza, Konstantego, Marii", "Cezarego, Małgorzaty, Moniki", "Adeliny, Erazma, Sobiesława", "Beaty, Racibora, Sabiny", "Benona, Jowity, Szczęsnego", "Cyrusa, Izabeli, Rajmundy"]

                            września = ["Belindy, Bronisza, Idziego", "Dionizy, Izy, Juliana", "Joachima, Liliany, Szymona", "Dalii, Idy, Rocha", "Doroty, Justyna, Wawrzyńca", "Beaty, Eugeniusza, Lidy", "Reginy, Marka, Melchiora", "Czcibora, Marii, Serafiny", "Aldony, Jakuba, Sergiusza", "Eligii, Irmy, Łukasza", "Dagny, Jacka, Prota", "Amadeusza, Gwidy, Sylwiny", "Apolinarego, Eugenii, Lubomira", "Bernarda, Mony, Roksany", "Albina, Lolity, Ronalda", "Jagienki, Kamili, Korneliusza", "Franciszka, Lamberty, Narcyza", "Ireny, Irminy, Stanisława", "Januarego, Konstancji, Leopolda", "Eustachego, Faustyny, Renaty", "Darii, Mateusza, Wawrzyńca", "Maury, Milany, Tomasza", "Bogusława, Liwiusza, Tekli", "Dory, Gerarda, Maryny", "Aureli, Kamila, Kleofasa", "Cypriana, Justyny, Łucji", "Damiana, Mirabeli, Wincentego", "Libuszy, Wacławy, Wacława", "Michaliny, Michała, Rafała", "Geraldy, Honoriusza, Wery"]

                            październik = ["Heloizy, Igora, Remigiusza", "Racheli, Sławy, Teofila", "Bogumiła, Gerarda, Józefy", "Edwina, Rosławy, Rozalii", "Flawii, Justyna, Rajmunda", "Artura, Fryderyki, Petry", "Krystyna, Marii, Marka", "Brygidy, Loreny, Marcina", "Arnolda, Ludwika, Sybili", "Franciszka, Loretty, Poli", "Aldony, Brunona, Emila", "Krystyny, Maksa, Serafiny", "Edwarda, Geraldyny, Teofila", "Alany, Damiana, Liwii", "Jadwigi, Leonarda, Teresy", "Ambrożego, Florentyny, Gawła", "Antonii, Ignacego, Wiktora", "Hanny, Klementyny, Łukasza", "Michaliny, Michała, Piotra", "Ireny, Kleopatry, Witalisa", "Celiny, Hilarego, Janusza", "Haliszki, Lody, Przybysłąwa", "Edwarda, Marleny, Seweryna", "Arety, Marty, Marcina", "Ingi, Maurycego, Sambora", "Ewarysta, Lucyny, Lutosławy", "Iwony, Noemi, Szymona", "Narcyza, Serafina, Wioletty", "Angeli, Przemysława, Zenobii", "Augustyny, Łukasza, Urbana"]

                            listopad = ["Konrada, Seweryny, Wiktoryny", "Bohdany, Henryka, Tobiasza", "Huberta, Miły, Sylwii", "Albertyny, Karola, Olgierda", "Balladyny, Elżbiety, Sławomira", "Arletty, Feliksa, Leonarda", "Antoniego, Kaliny, Przemiły", "Klaudii, Seweryna, Wiktoriusza", "Anatolii, Gracji, Teodora", "Leny, Lubomira, Natalii", "Bartłomieja, Gertrudy, Marcina", "Konrada, Renaty, Witolda", "Arkadii, Krystyna, Stanisławy", "Emila, Laury, Rogera", "Amielii, Idalii, Leopolda", "Edmunda, Marii, Marka", "Grzegorza, Salomei, Walerii", "Klaudyny, Romana, Tomasza", "Elżbiety, Faustyny, Pawła", "Anatola, Edyty, Rafała", "Janusza, Marii, Reginy", "Cecylii, Jonatana, Marka", "Adeli, Felicyty, Klemensa", "Emmy, Flory, Romana", "Elżbiety, Katarzyny, Klemensa", "Leona, Leonarda, Lesławy", "Franciszka, Kseni, Maksymiliana", "Jakuba, Stefana, Romy", "Błażeja, Margerity, Saturnina", "Andrzeja, Maury, Ondraszka"]

                            grudzień = ["Blanki, Edmunda, Eligiusza", "Balbiny, Ksawerego, Pauliny", "Hilarego, Franciszki, Ksawery", "Barbary, Hieronima, Krystiana", "Kryspiny, Norberta, Sabiny", "Dionizji, Leontyny, Mikołaja", "Agaty, Dalii, Sobiesława", "Delfiny, Marii, Wirginiusza", "Anety, Leokadii, Wiesława", "Danieli, Bohdana, Julii", "Biny, Damazego, Waldemara", "Ady, Aleksandra, Dagmary", "Dalidy, Juliusza, Łucji", "Alfreda, Izydora, Zoriny", "Celiny, Ireneusza, Niny", "Albiny, Sebastiana, Zdzisławy", "Jolanty, Łukasza, Olimpii", "Bogusława, Gracjana, Laury", "Beniaminy, Dariusza, Gabrieli", "Bogumiły, Dominika, Zefiryna", "Honoraty, Seweryny, Tomasza", "Bożeny, Drogomira, Zenona", "Dagny, Sławomiry, Wiktora", "Adama, Ewy, Irminy", "Anety, Glorii, Piotra", "Dionizego, Kaliksta, Szczepana", "Fabioli, Jana, Żanety", "Antoniusza, Cezarego, Teofilii", "Dawida, Dionizy, Tomasza", "Eugeniusza, Katarzyny, Sabiny", "Mariusza, Melanii, Sylwestra"]

                            im = ""
                            if (miesiac == 1) { miesiac = "stycznia", im = stycznia[dzien - 1] }
                            if (miesiac == 2) { miesiac = "luty", im = luty[dzien - 1] }
                            if (miesiac == 3) { miesiac = "marca", im = marca[dzien - 1] }
                            if (miesiac == 4) { miesiac = "kwietnia", im = kwietnia[dzien - 1] }
                            if (miesiac == 5) { miesiac = "maja", im = maja[dzien - 1] }
                            if (miesiac == 6) { miesiac = "czerwca", im = czerwca[dzien - 1] }
                            if (miesiac == 7) { miesiac = "lipca", im = lipca[dzien - 1] }
                            if (miesiac == 8) { miesiac = "sierpnia", im = sierpnia[dzien - 1] }
                            if (miesiac == 9) { miesiac = "września", im = września[dzien - 1] }
                            if (miesiac == 10) { miesiac = "październik", im = październik[dzien - 1] }
                            if (miesiac == 11) { miesiac = "listopad", im = listopad[dzien - 1] }
                            if (miesiac == 12) { miesiac = "grudzień", im = grudzień[dzien - 1] }

                            var godzina = leadingZero(currentDate.getHours()) + ":" + leadingZero(currentDate.getMinutes()) + ":" + leadingZero(currentDate.getSeconds()) + "<br>";
                            var akutalnaData = currentDate.getDate() + "." + (currentDate.getMonth() + 1) + "." + currentDate.getFullYear();
                            element.innerHTML = "Aktualnie obowiązuje w Polsce".fontcolor("black").fontsize(3) + czas[i].bold().fontcolor("black").fontsize(3) + ".".bold().fontcolor("black").fontsize(3) + "<br>";
                            element.innerHTML += "Jest godzina: ".fontcolor("black").fontsize(3) + "<br>";
                            element.innerHTML += godzina.fontsize(6).fontcolor("black");
                            element.innerHTML += "Dzisiaj mamy: ".fontcolor("black").fontsize(3) + nazwaDnia[currentDate.getDay()].fontcolor("black").bold().fontsize(3) + ", ".fontcolor("black").fontsize(3).bold() + akutalnaData.bold().fontcolor("black").fontsize(3) + "<br>";
                            element.innerHTML += "Imieniny ".fontcolor("black").fontsize(3) + im.fontcolor("black").fontsize(3).bold();
                            setTimeout(function () { showTextDate() }, 1000);
                        }
                        showTextDate();
                    </script>

                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
