@model PagedList.IPagedList<recenzent.Data.Model.Publication>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Strona główna";
}

@*<div class="btn btn-block">
    @Html.ActionLink("Author page", "Index", "AuthorPanel")
</div>

<div class="btn btn-block">
    @Html.ActionLink("Admin page", "Index", "AdminPanel")
</div>

<div class="btn btn-block">
    @Html.ActionLink("Reviewer page", "Index", "Reviewer")
</div>*@

@foreach (var item in Model)
{
    var tagList = item.PublicationTags.ToList();

    <div class="well-sm">
        <h2>@Html.ActionLink(item.Title, "Open", "PublicationPanel", new { id = item.PublicationId }, null)</h2>
        <br />
        <pre>@Html.DisplayFor(modelItem => item.Description)</pre>
        @Html.ActionLink("więcej", "Open", "PublicationPanel", new { id = item.PublicationId }, htmlAttributes: new {@class= "btn btn-default" })
    </div>
}
<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@section RightUpperSection{
    <p>Treść Sekcji w indeksie</p>
}