@model recenzent.Models.PublicationPanelViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pub well-sm">
    <h1>@Model.Title</h1>
    <pre><center>@Model.Description</center> </pre> 

</div>

    @Html.ActionLink("Pobierz Publikacje",
                "Download", "PublicationPanel", new { Model.PublicationId }, null)

<br />
<img src="~/Images/pause.png" class="pause img-responsive">


<h3>
    <b>
    @if (Model.Rating == 0)
    {
        <span>
            Ta publiakcja nie ma jeszcze ocen, bądź pierwszym który ją oceni:
        </span>
    }
    else
    {
        <span>Obecna średnia ocena artykułu:@Model.Rating   Twoja ocena: @ViewBag.RateFromUser</span>
    }
    </b>
</h3>


<div class="container">
    @using (Html.BeginForm("RatePub", "PublicationPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group col-md-10">
            <label class="control-label">@ViewBag.RateMessage</label>
            <div>
                @Html.DropDownListFor(m => m.RateFromCurrUser, new SelectList(ViewBag.Ratings), new { @class = "form-control" })
                @Html.HiddenFor(m => m.PublicationId)
            </div>
        </div>
        <div class="form-group col-md-10">
            <button type="submit" class="btn btn-default">Wystaw Ocenę</button>
        </div>
    }
</div>

@Html.Partial("_CommentsPartial")